---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/123/videos?language=en
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<AUTH>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 06c58770b9f6653f5eeb9ab7327cc160
      X-Memc-Age:
      - '3774'
      X-Memc-Expires:
      - '24138'
      Etag:
      - W/"68e20c77a427adf1b817184f2fa4ded2"
    body:
      encoding: ASCII-8BIT
      string: '{"id":123,"results":[{"iso_639_1":"en","iso_3166_1":"US","name":"The
        Lord of the Rings (animated 1978)","key":"wPe6BNPUmI0","site":"YouTube","size":360,"type":"Trailer","official":true,"published_at":"2014-07-08T22:08:04.000Z","id":"640cd15401432500e39b3055"}]}'
  recorded_at: Thu, 13 Mar 2025 15:57:23 GMT
recorded_with: VCR 6.2.0
